.appContainer {
  display: flex;
  flex-direction: column;
  //   gap: 30px;
  h3 {
    margin-left: 30%;
  }
  .appForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: max-content;
    margin: auto;
    border-radius: 5px;
    gap: 10px;
    .appFormItem {
      width: 200px;
      display: flex;
      flex-direction: column;
      gap: 2px;
      label {
        font-size: small;
        font-weight: bold;
      }
      input {
        border: none;
        border-bottom: 1px solid #ccc;
        outline: none;
        &:focus {
          border-bottom: 2px solid #ccc;
        }
      }
      button {
        width: fit-content;
        padding: 5px;
        align-self: center;
        text-transform: capitalize;
        background: transparent;
        border: 0.5px solid #ccc;
        border-radius: 5px;
        &:hover {
          background: #e9e5e5;
          cursor: pointer;
        }
      }
    }
  }
  .employees {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h3 {
      align-self: flex-start;
      margin-bottom: 30px;
    }
    .employeesBox {
      display: flex;

      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;
      //   background: yellow;
      .employeeBoxWrapper {
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        &:first-child {
          font-size: large;
          font-weight: bold;
          margin-bottom: 10px;
          justify-self: start;
        }
        .employeeItem {
          flex: 1;

          &.delete {
            &:hover {
              text-decoration: underline;
              font-weight: bold;
              cursor: pointer;
              color: red;
            }
          }
        }
        // &:last-child {
        //   width: fit-content;
        //   flex: 0.5;
        // }
      }
    }
  }
}
